<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="C:\OSPanel\domains\BloggerPlatform\public\assets\sitestyle\style.css" />
</head>
<body>
<div class ="one"></div>
<div class ="main">
    <div class ="header">
        <div сlass="btn1">
            <span><img src=""></span>
            <a href ="#">Settings</a>
        </div>
        <div>
            <a href ="#"><img src="nameofsite.jpg"></a>
        </div>
        <div сlass="logout">
            <a href ="#">Logout</a>
        </div>
    </div>
    <div class ="main1">
        <div class="left">
        <a href="#"><img src="c" height="17"><p>My profile</p></a>
            <a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/9aa9e066a2f6556f2b9ff8eb6cb5abcf-full.png" height="16"><p>My posts</p></a>
            <a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/526e2f60e6b342cea5dc1d0130738dab-full.png" height="18"><p>All posts</p></a>
            <a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/15893596da51f0e58ca344c50bb856fa-full.png" height="18"><p>Popular</p></a>
            <a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/5b808fbb5bd860bda122382ab3fa659f-full.png" height="16"><p>Preferences</p></a>
            <a href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/3d10497cfbf9f5a9a138dc7471ab6550-full.png" height="18"><p>Create new post</p></a>
        </div>
        <div class="right">
            <a href ="#">Settings</a>
        </div>
    </div>
</div>
<div class="two"></div>
</body>
</html>
