<!DOCTYPE html>
<html>
<head style="display: flex; align-items: center; justify-content: space-around; width: 100%; height: 10vh; background: linear-gradient(to top left, #F6EFD2, #CEAD78);">
    {% block head %}
        <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>


<body style="font-size: 18px; margin: 0; padding: 0; display: flex; justify-content: space-between; background-color: #FFFFF0; ">
{% block body %}
<div class ="one" style="width: 20%"></div>
<div class ="main" style="width: 60%">
    <div class ="header">
        <div сlass="btn1">
            <span><img src=""></span>
            <a style="text-decoration: none; color: #bc9854; "  href ="#">Settings</a>
        </div>
        <div>
            <a style="text-decoration: none; color: #bc9854; "  href ="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/5390c83caef68e3a7b0cfa33903e88dc-full.jpg"></a>
        </div>
        <div сlass="logout" style="width: 150px; height: 50px; border: 2px solid #000000; display: flex; align-items: center; justify-content: center; transition-duration: 0.3s; transition-timing-function: ease-out;">
            <a style="text-decoration: none; color: #bc9854; "  href ="#">Logout</a>
        </div>
    </div>
    <div class ="main1" style="display: flex; justify-content: space-between;">
        <div class="left" style="width: 25%; display: flex; flex-direction: column; justify-content: space-around; height: 450px; margin: 15px; padding: 15px; transition-duration: 0.2s;transition-timing-function: ease-out ">
            <a style="text-decoration: none; color: #bc9854; " href="{{ path('view_my_posts') }}"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/9aa9e066a2f6556f2b9ff8eb6cb5abcf-full.png" height="17"><p>My profile</p></a>
            <a style="text-decoration: none; color: #bc9854; "  href="{{ path('view_my_posts') }}"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/9aa9e066a2f6556f2b9ff8eb6cb5abcf-full.png" height="16"><p>My posts</p></a>
            <a style="text-decoration: none; color: #bc9854; "  href="{{ path('all_posts') }}"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/526e2f60e6b342cea5dc1d0130738dab-full.png" height="18"><p>All posts</p></a>
            <a style="text-decoration: none; color: #bc9854; "  href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/15893596da51f0e58ca344c50bb856fa-full.png" height="18"><p>Popular</p></a>
            <a style="text-decoration: none; color: #bc9854; "  href="#"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/5b808fbb5bd860bda122382ab3fa659f-full.png" height="16"><p>Preferences</p></a>
            <a style="text-decoration: none; color: #bc9854; "  href="{{ path('creating_post') }}"><img src="https://cdn1.savepice.ru/uploads/2018/12/2/3d10497cfbf9f5a9a138dc7471ab6550-full.png" height="18"><p>Create new post</p></a>
        </div>
        <div class="right" style="width: 75%">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>
<div class="two" style="width: 20%"></div>
{% endblock %}
</body>
</html>
