<!DOCTYPE html>
<html>

<form action="{{ path('test') }}" method="post">

</form>

<form
    action="{{ path('imported') }}" method="post ">
{% if {{ knp_menu_render('App:MenuBuilder:createMainMenu') }} %}
    FUCK DAMN YE
{% else %}
    FUCK DAMN NOPE
{% endif %}
</form>

<html>
