<!DOCTYPE html>
<html>
<head>
    <meta charset=»UTF-8″ />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel=»icon» type=»image/x-icon» }}» />
    <link href=»/css/bootstrap.min.css» rel=»stylesheet»>
</head>
<body>
{% block body %}
    <div class="friend">
        welcome, friend!
    </div>
{% endblock %}
<script src=»http://code.jquery.com/jquery-latest.js»></script>
<script src=»/js/bootstrap.min.js»></script>
{% block javascripts %}{% endblock %}
</body>
</html>