
{% extends 'test/mainMenu.html.twig' %}
{% block head %}
    {{ parent() }}
    {% block title %}{% endblock %}
{% endblock %}

{% block content%}
    {{ parent() }}
    {% for notice in notices %}
       {{ notice.user }}
       <br>
       {{ notice.body }}
       <br>
        <button>Blogger!</button>
    {% endfor %}
{% endblock content %}






